* { box-sizing: border-box; }

.carousel {
  background: #FAFAFA;
}

.carousel-cell-image {
  display: block;
  height: 500px;
  min-width: 200px;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

.full-width-gallery .carousel-cell-image {
  width: 100%;
  height: auto;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}